*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX998A4nWFu3lOFwYZTlJqpRea0LjkA_yea-c115zf1Y13sqN5");
  height: 60vh;
  background-size: cover;
  background-position: center;
  
}

ul{
  
  float: right;
  list-style-type: none;
  
}



ul li{
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
  

}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 2px 15px;
  border: 1px solid transparent;
  transition: 0.8s ease;
  font-size: 15px;

}

ul li a:hover{
  background-color: #fff;
  color: black;
}

.ui logo Img{
  bottom: 30px;
  float: left;
  width: 50vh;
  height: 10vh;
} 

.ui main{
  max-width: 1400px;
  margin: auto;
}

.title{
  position: absolute;
  top: 32%;
  left: 42%;
  transform: translate(-50%,-50%);
  
}

.title h1{
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.button{
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%,-50%);  
}

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.8s ease;
}

.btn:hover{
  background-color: #fff;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 1px;
  border: 1px solid #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 15px 16px;
  z-index: 2;

}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: wheat}

.dropdown:hover .dropdown-content {
  display: block;
}

.title1 {
  padding: 12px;
  text-align: absolute;
  color: blue;
  font-size: 25px
}

.paragraph{
 
  padding: 12px;
  text-align: absolute;
  font-size: 18px; 
}

.title2 {
  position: absolute;
  top: 25%;
  left: 12.5%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  font-size: 25px;
}



.paragraph2{
 
  position: absolute;
  top: 30%;
  left: 21%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.textarea{
  position: absolute;
  top: 46%;
  left: 25%;
  transform: translate(-50%,-50%);
  font-size: 15px;

}

.btn1{
  position: absolute;
  top: 53%;
  left: 43%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  border-radius: 5px;
  background-color: aqua
}

.line{
  float: left;
 
  
}

.list {
  margin-top: 35px;
  margin-right: 2px;
  color: blue;
  transition: 0.8s ease;
  font-size: 20px;
  background-color: blue;
  color: black;
}
 
.title4{
  padding: 12px;
  text-align: absolute;
  font-size: 18px;
  bottom: 12%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

    .row::after {
    content: "";
    clear: both;
    display: table;
  }